img {
    align-items: center;
}
html body { background-color: green

   } 

#firstj {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#secondj {
    font-family: Georgia, 'Times New Roman', Times, serif
}
