#addition button {
    background-color: lightsalmon;
    
   
}
#substraction button {
    background-color: aquamarine;
}
#multiplication button {
    background-color: lightslategray
}
h1 {
    background-color: aqua;
    text-align: center;
    
}
block {
    padding: 20px;
    font-size: 19px;
}
input {
    padding: 15px
}
button {
    padding: 20px
}