#navbar { 
    overflow: hidden;
    background-color: lightsalmon;
    font-size: 40px;
    position: sticky;
    top: 0;
} 

#navbar a {
    float:center; 
    color: greenyellow;
    padding: 32px;
}

p {
     padding-bottom: 70px;
     display: block;
     
     
}

h1 { 
    padding: 20px;
    background-color: aqua;
    text-align: center;
    display: block;
    
}

img {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 20px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
   font-size: 14px;
}