.pictureBox{
    width: 400px;
    height: 400px;
}
.smallContainer{
    display: flex;
    justify-content: space-around;
    display: block;
    width: 30%;
    height: 50%;
    margin: 3px;
    border: 3px solid lightblue;
    padding: 20px;
}

/* form{
    display: flex;
} */

#container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


/* style "eachTask"

*/