/* Gambia  */
/* article {
    box-sizing: border-box ;
    display: block;
    margin: 5px;
    border: lightcyan;
    padding: 0px;
}

h1 {
    background-color: rgb(184, 24, 24); 
    display: block;
    padding: 66px;
}

h2{
    background-color: rgb(23, 23, 151);
    padding: 43px;
}

h3 {
    background-color: rgb(51, 119, 51);
    padding: 66px;
} */

/* France */

