* {
    box-sizing: border-box; 
    
}
body{
    background-color:black;
}
.navbar{
    background-color: white;
    overflow: hidden;
    text-align: center;  
   padding: 20px;
    font-size: 17px;
}
.navbar a{
text-align: center;
font-size: 15px;
text-decoration: none;
padding: 16px;
}
.navbar a:hover{
    background-color: gray
}
.ver, .hor{
    display: flex;
}
.vertical {
  width: 0%;
  height: 0vh; 
  background-color: white;
  margin: 0pt;
  flex: row;
  margin: 90px;

  
}
img{
    width: 80pt;
    height: 80pt;
}