* {
    box-sizing: border-box; 
    font-size: 0px;
}

body {
    background-color: lightgoldenrodyellow;
}
.first, .second, .third{
    display: flex;
    
}
.pink{
    background-color: #F5C6D6;
    width: 100%;
    height: 20vh;
}
.redish{
    background-color: #EE2E84;
    width: 25%;
    height: 20vh;
    border: whitesmoke;
    margin: 4pt;
}
.lightBlue{
    background-color: #85CFD8;
    width: 50%;
    height: 20vh;
    margin: 4pt;
    
}
.green{
    background-color: #8DC63F;
    width: 75%;
    height: 20vh;
    margin: 4pt;
}
.orange{
    background-color: #E76E34;
    width: 25%;
    height: 20vh;
    margin: 4pt;
}
@media (max-width: 768px){
    .redish, .lightBlue, .green, .orange {
        width: 100%;
        background-color: purple;
    }

}


