.placeForm{
    display: grid;
    transition: left 600ms linear;
    transition: top 600ms linear;
}
.placeForm input, button{
    width: 20%;
    height: 50%;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    margin: 40px;
}
.placeForm button{
    background-color: black;
    color: white;
    width: 20%;
    text-align: center;
    
}
.placeForm-on{
    position: relative;
    left: -30%;  
}