*{
    box-sizing: border-box;
    margin: 0;
}

/* ///////home page */
            /* ////1./ navbar */
.firstLine{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
    height: 80px;
    border: 1px solid red;
}
.menu{
    display: flex;
    
}
.menu span{
    color: gray;
    font-size: 60px;
    transform: rotate(90deg);
    margin: 10px;

}
.menu h4{
    font-size: 40px;
    margin: 10px;
    font-weight: lighter;
    color: rgba(22, 18, 18, 0.808);
    padding: 8px;

}
.whereWork h1{
    padding: 10px;
    font-size: 50px;
    color: rgba(22, 18, 18, 0.808);
}
 
.picture{
    background-image: url("https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    width: 100%;
    height: 700px;
    background-size: cover;
    text-align: center;
    color: rgba(34, 15, 15, 0.756);
    font-size: 80px;
    padding: 80px;
    

}


.authBox{
    z-index: 10;
    background-color: rgba(12, 12, 12, 0.767);
    width: 40%;
    height: 400px;
    font-size: 20px;
    position: relative;
    bottom: 500px;
    left: 900px;
    color: white;
    padding: 20px;

}

.line{
    display: grid;
    grid-template-columns: 150px 80px 150px;
    margin: 20px;
    text-align: center;
}
.line h2:hover{
    background: rgba(255, 255, 255, 0.548);
}
.authForm input {
    border: none;
    font-size: 30px;
    color:  rgba(34, 15, 15, 0.756);
    border-bottom: 1px solid white;
    margin: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.836);
    text-align: center;
}

#authFormButton{
    font-size: 20px;
    margin-left: 40px;
    border-radius: 10px;
}
            /*//// descripttion */
.description{
    /* border: 1px solid red; */
    position: relative;
    top: -300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.des{
    margin: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.315);
}
.des h2{
    font-size: 50px;
    margin: 30px;
}
.des span{
    font-size: 30px;
}


/* //////places */
.places{
    background-color: rgba(245, 245, 245, 0.815);
}
.mapping-div{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: rgba(84, 138, 160, 0.699);
}

.onePlace{
    width: auto;
    margin: 10px;
    border: 1px solid rgba(59, 49, 49, 0.746);
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgba(56, 49, 49, 0.335);
}
/* .images{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;

} */
.img1{
    width: 100%;
     padding:10px;
}

.details{

}
.det{
    margin: 10px;
}
/* .img2, .img3{
    width: 95%;
    margin: 10px;
} */


.logout{
    font-size: 30px;
    position: relative;
    left: 70%;
    background-color: black;
    color: red;

}
.upload{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.568);
    margin: 10px;
}
.logout:hover{
    background-color: rgba(56, 44, 44, 0.247);
}
/* ///////forms  */
.placeForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    border: 1px solid green;
}

.placeForm input, .saveButton{
    width: 80%;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    margin: 20px;
}
.saveButton{
    background-color: black;
    color: white;
    width: 40%;
    position: relative;
    left: 20%;
    border-radius: 20px;
    
}
.placeForm-on{
    position: absolute;
    visibility: hidden;
}

            /*////// footer */
.footer{
    background-color: rgba(34, 28, 28, 0.418);
    width: 100%;
    height: 500px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 60px;
}
.footer-col1 h2{
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 30px;
}
.footer-col1{
    font-size: 40px;
}

.footer-col h4{
    font-size: 30px;
    color: rgba(243, 241, 239, 0.829);
}
.footer-col span{
    color: rgba(255, 255, 255, 0.63);
    font-size: 20px;
    display: block;
    margin: 20px;
}
.footer-col span:hover{
    color: white;
}

