.footer, header {
    background-color: pink;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 20px;
    font-style: oblique;
}
img {
    height: 400px;
    width: 400px;
    display: block;
    position: inherit;
    max-width: 100%;
}
#title {
    position: fixed;
    font-size: 40px;

}
input{
    background-color: lightcyan;
    font-size: 15px;
}
button{
    font-size: 20px;
    background-color: gold;
}


@media (min-width: 800px){
   
     #title, img, .footer{
        background-color: lightslategray;
    }
    
}