*{
    box-sizing: border-box;
}
.container{
    border: 6pt solid aqua;
    width: 500px;
    height: 400px;
    display: flex;
}
.circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    left: 28%;
    top: 20%;
}